# Lista de Exercícios

In [ ]:
install.packages("DescTools")

In [ ]:
dados = read.csv("dados.csv")

## Distribuições de frequências com variáveis quantitativas

In [ ]:
classes <- c(min(dados$Altura), 1.65, 1.75, max(dados$Altura))

labels <- c('1 - Baixa', '2 - Média', '3 - Alta')

frequencia <- table(
    cut(
        x = dados$Altura,
        breaks = classes,
        labels = labels,
        include.lowest = TRUE
    )
)

percentual <- prop.table(frequencia) * 100

dist_freq_altura <- cbind('Frequência' = frequencia, 'Porcentagem (%)' = percentual)

dist_freq_altura[
    order(row.names(dist_freq_altura)),
]

          Frequência Porcentagem (%)
1 - Baixa 20529      26.71655
2 - Média 36162      47.06143
3 - Alta  20149      26.22202

## Percentuais Exatos

In [ ]:
length(dados$Renda[dados$Renda <= 788/2 ]) / length(dados$Renda) * 100

[1] 10.62467

## Comparando variáveis com a mesma média e mediana

In [ ]:
library(DescTools)

materias <- c('Matemática', 'Português', 'Inglês', 'Geografia', 'História', 'Física', 'Química') 
Fulano <- c(8, 10, 4, 8, 6, 10, 8) 
Sicrano <- c(7.5, 8, 7, 8, 8, 8.5, 7) 

df <- data.frame(Fulano, Sicrano, row.names = materias) 

df

           Fulano Sicrano
Matemática  8     7.5
Português  10     8.0
Inglês      4     7.0
Geografia   8     8.0
História    6     8.0
Física     10     8.5
Química     8     7.0

In [ ]:
MeanAD(df$Fulano)

[1] 1.55102

In [ ]:
MeanAD(df$Sicrano)

[1] 0.4693878

## Calculando o desvio padrão \#1

In [ ]:
dataset <- data.frame( 
    Sexo = c('H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'), 
    Idade = c(53, 72, 54, 27, 30, 40, 58, 32, 44, 51) 
)
sd(dataset$Idade)

[1] 14.18489

## Calculando o desvio padrão \#2

In [ ]:
dataset <- data.frame( 
    Sexo = c('H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'),
    Idade = c(53, 72, 54, 27, 30, 40, 58, 32, 44, 51)
)
sd(dataset[dataset$Sexo == "M", ]$Idade)

[1] 16.64532